#title{
    text-align:center;
    font-size: 60px;
    color: white;
    
}
body {
    font-family: azonix;
    background-color: rgb(0, 0, 12);
    background-repeat: no-repeat;
}
#ss,#ds{
    width: 700px;
    height: 700px;
    font-size: 25px;
    border-radius: 10%;
    border-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#ss,#ds:hover{
    cursor: pointer;
}
#ss{
    background-image: url('images/index/saturn_1.jpg');
    font-size: 35px;
    color: white;
}
#ds{
    background-image: url('images/index/bubble_nebula.jpg');
    color: white;
    font-size: 35px;
    
}
.buttons{
    margin: auto;
    position: absolute;
    left: 254px;
    top: 200px;
}           
@font-face {
    font-family: Lacerated-Free;
    src: url(fonts/Lacerated-Free.ttf);
}
